<div class="wrapper">
  <div class="box header">{{ title }}</div>
  <div class="box sidebar">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="box sidebar2">версии рецепта</div>
  <div class="box content">
    <app-recipe-detail
    *ngIf="selectedRecipe; else infoText"
    [recipe]="selectedRecipe"
    (deleteMode)="deleteModeDone()"
    (back)="deleteModeDone()"></app-recipe-detail>
    <ng-template #infoText>
      <p>Choose a Recipe from Recipe List</p>
      <p>or</p>
      <p><app-recipe-add></app-recipe-add></p>
    </ng-template>
  </div>
  <div class="box footer" (click)="deleteModeDone()">дата создания рецепта</div>
</div>
