body {
  margin: 40px;
  background: #ecf0f1;
}
.sidebar {
  grid-area: sidebar;
}

.sidebar button {
  padding: 10px;
  float: right;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.content button {
  grid-area: content;
  padding: 10px;
  float: right;
}

.content p {
  display: grid;
  justify-content: center;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.wrapper {
  margin: 0 auto;
  color: #444;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer"
}

@media only screen and (min-width: 500px)  {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header   header"
      "sidebar  content"
      "sidebar2 sidebar2"
      "footer   footer";
  }
}

@media only screen and (min-width: 600px)   {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-areas:
      "header  header  header"
      "sidebar content sidebar2"
      "footer  footer  footer";
    max-width: 1200px;
  }
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header {
  background-color: #999;
}

.footer {
  display: grid;
  align-items: center;
  justify-content: end;
  background-color: #999;
}

.sidebar2 {
  background-color: #ccc;
  color: #444;
}



.btn {
  position: relative;
  display: block;
  /*margin: 10px auto;*/
  /*padding: 0;*/
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #999;
  color: #ecf0f1;
  font-size: 0.8em;
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #7a7a7a;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
